<h1>ActionCable Connection Status: <span id="state"></span></h1>

<p>All Changes on this page are updated in the database before being displayed. (Non-optimistic).
<br>Try closing the window and reopening... or open multiple incognito windows at once.
<br>Press 'c' to change the background color.</p>

<canvas id="game" height="550" width="550"></canvas>

<p id="action"></p>