
body {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-size: 16px;
  margin: 20px auto;
  padding: 10px;
}
p {
  font-size: 14px;
  text-align: left;
  margin: 0 auto;
  width: 600px;
}
#game {
  margin:30px;
}
#action {
  background:white;
  position:fixed;
  font-size:10px;
  top:0;
  right:0;
  padding:30px;
  text-align:center;
  width: 200px;
  span {
    font-size:14px;
  }
}